%%-*- mode: erlang -*-
{sub_dirs, ["rel"]}.

{cover_enabled, true}.

{base_dir, "_build"}.

{lib_dirs, ["deps"]}.

{src_dirs, ["src"]}.

{erl_opts, [debug_info, fail_on_warning,
            {platform_define, "^[0-9]+", namespaced_types}]}.

{deps, [
        {recon, "2.5.0"},
        {amqp_client, "3.8.2"},
        {rabbit_common, "3.8.2"}
]}.
